<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--公共导航栏 -->
<div id="header" th:fragment="navigationStyle">
    <ul class="layui-nav layui-bg-green" lay-filter="menu">
        <li class="layui-nav-item layui-this"><a href="">工作台</a></li>
        <li class="layui-nav-item "><a href="">产品</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
    </ul>
</div>
<script>
    layui.use('element', function(){
        var element = layui.element;
        //监听导航点击
        element.on('nav(menu)', function(elem){
            console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</html>